* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#divMain {
  width: 50%;
}

.editable-div {
  width: 32em;
  height: 20em;
  overflow-y: scroll;
  outline: 1px solid #ddd;
  word-wrap: break-word;
}

#jpeg {
  width: 50%;
  height: auto;
}

.hidden {
  display: none;
}

.buttons-wrapper {
  padding: 5px;
}
