* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#divMain {
  width: 50%;
}

#jpeg {
  width: 50%;
  height: auto;
}

.hidden {
  display: none;
}

.buttons-wrapper {
  padding: 5px;
}
